@use "./root"as *;

.btn {
    width        : 100%;
    background   : var(--primary);
    color        : var(--accent);
    border       : none;
    padding      : calc(var(--padding) / 2) var(--padding);
    border-radius: var(--radius);
    cursor       : pointer;
    font-size    : clamp(1rem, 3vw, 1.5rem);
}

.header {
    background : var(--primary);
    color      : var(--accent);
    padding    : var(--padding);
    box-shadow : 0 0 0.8rem 0.2rem var(--shadow);
    font-size  : clamp(1.3rem, 3vw, 1.5rem);
    overflow   : hidden;
    display    : flex;
    align-items: center;
}

.aside {
    padding: var(--padding);

    .genre-wrapper {
        list-style: none;
        margin-top: var(--padding);
        display   : flex;
        gap       : 0.5rem;
        flex-wrap : wrap;

        @include largeScreen {
            display      : block;
            border-radius: var(--radius);
            overflow     : hidden;
            box-shadow   : 0 0 .6rem .3rem var(--shadow--light);
        }

        .genre-list {
            flex-grow: 1;

            &:not(:last-child) {
                border-bottom: 0.1rem solid var(--accent);
            }

            .btn {
                @include largeScreen {
                    border-radius: 0;
                    text-align   : start;
                }
            }
        }
    }
}

.title {
    font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.main {
    padding   : var(--padding);
    overflow-x: hidden;

    .table-wrapper {
        margin-top   : var(--padding);
        overflow-x   : auto;
        width        : 100%;
        box-shadow   : 0 0 .6rem .3rem var(--shadow--light);
        border-radius: var(--radius);

        table {
            border-collapse: collapse;
            width          : 100%;

            .btn {
                font-size : inherit;
                width     : max-content;
                background: #f54403;
            }

            th,
            td {
                border : 0.1rem solid var(--dark);
                padding: 0.5rem var(--padding);
            }

            th {
                background: var(--primary);
                color     : var(--accent);
                font-size : clamp(1.1rem, 3vw, 1.3rem);
            }


            tr {

                &.close {
                    display: none;
                }

                &:nth-child(even) {
                    background: var(--primary-light);
                }
            }
        }
    }
}